<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50356573430-e9tnegnfjoiebrib28erlbhv30r1dcnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50356573430-e9tnegnfjoiebrib28erlbhv30r1dcnd</string>
	<key>API_KEY</key>
	<string>AIzaSyBqVbMw2VBWMc3tRkeXfytpV_Vkha2tSpg</string>
	<key>GCM_SENDER_ID</key>
	<string>50356573430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlexample.googleMlKitExample</string>
	<key>PROJECT_ID</key>
	<string>wingsofdreamsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>wingsofdreamsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50356573430:ios:43adaa0f9bcd474a94c8d7</string>
</dict>
</plist>